/**
 * HTML Reset
 *
 * A general reset stylesheet. This document has been written in accordance with my experience and needs.
 * Some pieces are taken from Foundation's Normalize CSS.
 *
 * @link https://github.com/nppetrov/HTML-Reset
 * @version 1.0.1
 */

* {
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    background: transparent;
    color: inherit;
    font: inherit;
    font-size: 100%;
    text-transform: inherit;
    vertical-align: baseline;
    -ms-text-size-adjust: 100%; /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
}

/**
 * Add `box-sizing: border-box` by default for all browsers.
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

abbr { border-bottom: 1px dotted; cursor: help; }

h1, h2, h3, h4, h5, h6, b, strong { font-weight: bold; }
i, em { font-style: italic; }

blockquote, q { quotes: none; }

button { overflow: visible; } /* Address `overflow` set to `hidden` in IE */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    vertical-align: middle;
}

nav ul { list-style: none; } /* Remove default `list-style` for navigation menus */

textarea {
    overflow: auto; /* Remove default vertical scrollbar in IE */
    resize: none;
}

img, iframe {
    height: auto;
    max-width: 100%;
    vertical-align: bottom; /* Remove the gap on the bottom of the element */
}

ul, ol {
    list-style-position: inside;
}

/**
 * Default styles for `code`, `kbd`, `pre` and `samp`.
 */

code,
kbd,
pre,
samp {
  font: 1em/1.2 monospace;
}
pre {
    overflow: auto;
}

/**
 * Prevent `sub` and `sup` from extending `line-height` of the parent element.
 */

sub,
sup {
    padding: 0px;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Improve usability by adding `cursor: pointer` to clickable elements.
 */

input[type="submit"],
input[type="button"],
button,
label {
    cursor: pointer;
}

/**
 * Improve usability by adding `cursor: default` to disabled elements.
 */

*[disabled] {
  cursor: default;
}

/**
 * Reset input placeholders.
 */

::-webkit-input-placeholder { color: inherit; opacity: 1; }
:-moz-placeholder { color: inherit; opacity: 1; }
::-moz-placeholder { color: inherit; opacity: 1; }
:-ms-input-placeholder { color: inherit; opacity: 1; }

:focus {
    outline: 0;
}